@page "/Transactions"
@inherits ListBase

<h3>Transactions List</h3>

@if (_Transactions == null || _Transactions.Count == 0)
{
    <p class="text-warning">No data to display</p>
    return;
}

<table class="table table-striped">
    <thead>
        <tr>Source Account</tr>
        <tr>Destination Account</tr>
        <tr>Amount</tr>
    </thead>
    <tbody>
        @foreach (var item in _Transactions)
        {
            <tr>@item.SourceAccount.AccountNumber</tr>
            <tr>@item.DestinationAccount.AccountNumber</tr>
            <tr>@item.Amount.ToString("C")</tr>
        }
    </tbody>
</table>